@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700');

$light-color:#ffffff;
$accent-color :#65e496;
$bg-light-color : #f5f6fa;
$dg-dark-color : #444444;
$green-btn: #5fc9b5;
$grey-color : #9191b5;
body{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  line-height: 24px;
}
.h3{
  font-size:  24px;
}
.wrap{
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.clear{
  clear: both;
}
.page-main {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-color;
  padding-bottom: 160px;
}
.page{
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  @media(max-width: 1020px){
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media (max-width: 630px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &_gray{
    background-color: $bg-light-color;
  }
  &__title{
    font-size: 48px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 0.9;
    @media (max-width: 480px) {
      font-size: 30px;
    }
  }
  &__subtitle{
    color: $accent-color;
    text-align: center;
    font-size:  18px;
    letter-spacing: 0.9px;
    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
  &__btn{
    border: none;
    align-self: center;
    margin-top: 80px;
    display: block;
    background: linear-gradient(to top left, #65e49c, #65e4af);
    color: $light-color;
    text-decoration: none;
    max-width: 250px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    letter-spacing: 0.7px;
    box-shadow: 0 -2px #b2f1be inset;
  }
  &__svg{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    min-width: 1020px;
    @media(max-width: 1020px){
      display: none;
    }
  }
  &-slider{
    @media(max-width: 1020px){
      background-color: $dg-dark-color;
    }
  }
  &_small_padding{
    padding-top: 80px;
  }
}
.btn_center{
  margin: 85px auto 70px;
  @media (max-width: 920px) {
    margin: 40px auto 0;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 15px 166px 15px;
  @media (max-width: 1020px) {
    padding-bottom: 50px;
  }
  @media (max-width: 920px) {
    flex-direction: column;

  }
  @media (max-width: 630px) {
    align-items: flex-start;
  }
  &__logo{
    background-image: url("../img/Logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 137px;
    height: 28px;
  }
  &-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3px transparent solid;
    transition: 0.3s;
    margin-top: 3px;
    @media (max-width: 630px) {
      flex-direction: column;
      width: 95%;
    }
    &__item{
      margin-left: 21px;
      margin-top: 5px;
      padding-bottom: 5px;
      @media (max-width: 630px) {
        border-bottom: 3px $accent-color solid;
      }
      &:hover{
        border-bottom: 3px $accent-color solid;
        @media (max-width: 630px) {
          color: $accent-color;
        }
      }
    }
    &__item.active{
      border-bottom: 3px $accent-color solid;
    }
    &__link{
      color: $light-color;
      text-decoration: none;
      letter-spacing: 0.6px;
      font-size: 16px;
      box-sizing: border-box;
      display: block;
      &:hover{
        @media (max-width: 630px) {
          color: $accent-color;
        }
      }
    }
  }
}

.block-text{
  flex-basis: calc(100% - 500px);
  @media (max-width: 1020px) {
    flex-basis: calc(100% - 315px);
  }
  &__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.9px;
    margin-bottom: 30px;
    margin-top: 3px;
  }
  &__name_top{
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 20px;
    @media (max-width: 630px) {
      margin-top: 40px;
    }
  }

  &__title{
    font-size: 48px;
    letter-spacing: 1.8px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 0;
    @media (max-width: 480px) {
      font-size: 30px;
    }
    span{
      display: block;
      color: $accent-color;
      font-size: 18px;
      margin-top: 13px;
      letter-spacing: 0.9px;
      line-height: 1.1;
      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
  }
  &__title_bold{
    font-weight: 700;
  }

  &__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    margin-top: 40px;
    width: 85%;
  }
  &__description-small-margin{
    margin-top: 25px;
    margin-bottom: 0;
  }
  &__btn{
    display: block;
    background: linear-gradient(to top left, #65e49c, #65e4af);
    color: $light-color;
    text-decoration: none;
    max-width: 250px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 14px 0;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    box-shadow: 0 -2px #b2f1be inset;
    @media (max-width: 840px) {
      margin: 40px auto 40px;
    }
  }
  &__btn-main{
    box-shadow: 0 -2px #59ba88 inset;
    @media (max-width: 1020px) {
       margin: 0 auto;
    }
  }
  small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.5px;
  }
  &__subtitle{
    letter-spacing: 1px;
  }
  &__datetime{
    letter-spacing: 0.8px;
    display: block;
  }
}
.block-text_right{
  margin-left: 117px;
  @media (max-width: 840px) {
      margin: 50px auto 0;
  }
  .block-text__name{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  .block-text__name-right{
    margin-top: -7px;
  }
  .block-text__description{
    margin-bottom:  20px;
  }
  .quote-descr{
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .block-text__btn{
    max-width: 140px;
    margin-bottom: 55px;
  }
}
.block-book{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  @media (max-width: 1020px) {
    flex-direction: column-reverse;
    text-align: center;
  }
  &-demo{
    //display: block;
    background-image: url("../img/book_big.png");
    width: 447px;
    height: 643px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    flex-basis: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1020px) {
         width: 50%;
      height: 643px;
         margin: 40px auto 0 ;
        //flex-basis: 100%;
    }
    @media (max-width: 630px) {
      width: 100%;
      height: 643px;
      margin: 40px auto 0 ;
      //flex-basis: 100%;
    }
    //margin-left: 50px;
    &__title{
      margin-top: 114px;
      font-size: 36px;
      letter-spacing: 1.1px;
      margin-left: 35px;
      line-height: 1.1;
      @media (max-width: 840px) {
        font-size: 25px;
      }
      span{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        display: block;
        color: $accent-color;
        margin-top: 5px;
        letter-spacing: 0.3px;
        line-height: 1.1;
        @media (max-width: 840px) {
          font-size: 12px;
        }
      }
    }
    &__author{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      display: block;
      color: $accent-color;
      align-self: flex-start;
      margin-bottom: 53px;
      margin-left: 85px;
      letter-spacing: 0.9px;
    }
  }
}
.block-author{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  &-right{
    margin-top: 7px;
  }
  @media (max-width: 1020px) {
    width: 100%;
  }
  @media (max-width: 840px) {
    flex-direction: column-reverse;
  }
}
.block-ava{
  position: relative;
  @media (max-width: 1020px) {
    width: 50%;
  }
  @media (max-width: 840px) {
    margin-bottom: 20px;
    margin: 0 auto;
  }
  @media (max-width: 630px) {
    width: 100%;
  }
  &__svg{
    position: absolute;
    z-index: -1;
    @media (max-width: 1020px) {
      width: 300px;
      height: 420px;
    }
    &_right{
      right: 0;
    }
    &_left{
      left: 0;
    }
  }
  &__img{
    margin-top: 45px;
    @media (max-width: 1020px) {
      width: 300px;
      height: 340px;
    }
    &_right{
      margin-right: 45px;
    }
    &_left{
      margin-left: 45px;
    }
  }
}
.block-counters{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  margin-bottom: 45px;
  @media (max-width: 840px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    @media (max-width: 840px) {
      margin-bottom: 80px;
    }
    @media (max-width: 480px) {
      margin-bottom: 40px;
    }
    span{
      font-family: 'Roboto Slab', sans-serif;
      display: block;
      font-size: 80px;
      font-weight: 100;
      color: $accent-color;
      margin-bottom: 40px;
      letter-spacing: 1.7px;
      @media (max-width: 480px) {
        font-size: 50px;
      }
    }
  }
}
.block-about{
  margin-top: 82px;
  display: flex;
  justify-content:space-between;
  @media (max-width: 1020px) {
    flex-direction: column;
    max-width: 750px;
    margin: 82px auto 0;
  }
  h3{
    margin-bottom: 22px;
    letter-spacing: 1.2px;
    font-size: 24px;
  }
  &-text{
    flex-basis: calc(100% - 555px);
    @media (max-width: 1020px) {
      flex-basis: 100%;
    }
  }
  &__text{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.6px;
    width: 80%;
  }
  &-table{
    flex-basis: 585px;
    @media (max-width: 1020px) {
      flex-basis: 100%;
      margin-top: 40px;
    }
    &__list{
      margin: 0;
      padding: 0;
      counter-reset: list;
      column-count: 2;
      column-gap: 20px;
      @media (max-width: 630px) {
        column-count: 1;
      }
      &>li{
        position: relative;
        padding-left:  36px;
        counter-increment: list;
        list-style-type: none;
        margin-bottom: 8px;
        letter-spacing: 0.7px;
        &::before{
          content: counter(list) ". ";
        }
        &::after {
          top: calc(50% - 10px);
          content: "+";
          position: absolute;
          left: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          background-color: $green-btn;
          color: $bg-light-color;
          line-height: 22px;
          padding: 0px 7px;
        }
      }
    }
    &__list_next {
      counter-reset: list 10;
      position: relative;
      margin-top: 20px;
      display: none;
    }
    &__list_next:before {
      content: '';
      height: 2px;
      width: 100px;
      display: block;
      background-color: $green-btn;
      position: absolute;
      top: -15px;
    }
  }
  &__btn{
    margin-top: 25px;
    display: block;
    background: linear-gradient(to top left, #65e49c, #65e4af);
    color: $light-color;
    text-decoration: none;
    max-width: 250px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 15px 45px;
    letter-spacing: 0.7px;
    border: none;
    box-shadow: 0 -2px #b2f1be inset;
    @media (max-width: 840px) {
      margin: 40px auto 40px;
    }
    &:focus{
      outline: none;
    }
  }
  .block-featured {
    display: flex;
    margin-top: 27px;
    justify-content: flex-start;
    p{
      margin: 0;
      padding:  0;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
    }
    &__list{
      background-image: url("../img/icons.png");
      background-repeat: no-repeat;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      height: 20px;
      width: 80px;
      margin-left: 25px;
    }
    &__item{
        box-sizing: border-box;
        width: 33%;
        a{
          text-decoration: none;
          content: " ";
          display: block;
          width: 100%;
          height: 100%;
        }
      }
  }
}

.block-book-contents-margin {
  margin-top: 160px;
  @media (max-width: 1020px) {
    margin-top: 0;
  }
}
.block-other {
  display: flex;
  &-books {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media (max-width: 1020px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      width: 33%;
      @media (max-width: 1020px) {
        width: 70%;
      }
      @media (max-width: 630px) {
        width: 100%;
      }
      &-picture {
        margin-top: 65px;
        background-image: url("../img/vectorpaint.svg");
        background-repeat: no-repeat;
        //background-size: cover;
        background-position: center;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1020px) {
          width: 100%;
        }
        &__title {
          margin-top: 70px;
          font-size: 24px;
          letter-spacing: 2px;
          color: $bg-light-color;
          text-transform: uppercase;
          text-align: center;
          line-height: 1.1;
          span {
            text-transform: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            display: block;
            color: $accent-color;
            letter-spacing: 0.9px;
            margin-top: 10px;
            line-height: 1;
          }
        }
        &__author {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          display: block;
          color: $accent-color;
          margin-bottom: 30px;
        }
      }

      &-dscr {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 35px;
        @media (max-width: 840px) {
          margin: 20px auto 20px;
        }
        &__title {
          font-size: 24px;
          letter-spacing: 2px;
          text-transform: capitalize;
        }
        &__text {
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          display: block;
          color: #999;
        }
        &__link {
          text-decoration: none;
          text-transform: uppercase;
          color: $accent-color;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 2px;
        }
      }
    }
  }
}
.block-blog-titles{
  margin-top: 90px;
  margin-bottom: 80px;
}
.block-blog{
  display: flex;
  justify-content: space-between;
  @media(max-width: 900px){
    flex-direction: column;
    max-width: 600px;
    margin: 85px auto 40px;
  }
  &-item{
    margin-right: 30px;
    flex-basis: 32%;
    &-picture{
      height: 224px;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px;
    }
    &__img{
      width: 100%;
      margin-bottom: 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
    &__title{
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
      flex-wrap: wrap;
    }
    &-datetime{
      &__text{
        padding: 0;
        margin:  0;
      }
      &__link{
        text-decoration: none;
        color: $accent-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 15px;
      }
    }
    &__text{

    }
  }
  &-item:last-child{
    margin-right: 0;
  }
}
.btn-blog{
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 10px;
}

.block-letter{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  @media (max-width: 1020px) {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
  &-item{
    flex-basis: 49%;
  }
  &__title{
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 1.0;
    @media (max-width: 480px) {
      font-size: 30px;
    }
  }
  &__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
  }
  &__input{
    width: 100%;
    background-color: $dg-dark-color;
    border: none;
    color: $grey-color;
    padding:15px 27px;
    box-sizing: border-box;
    border-radius: 3px;
    letter-spacing: 0.6px;
    &:focus{
      outline: none;
    }
  }
  &__btn{
    width: 100%;
    max-width: none;
    margin: 0;
    margin-top: 21px;
    &:focus{
      outline: none;
    }
  }
}
footer{
  background-color: $dg-dark-color;
  color: $grey-color;
  padding: 160px 0;
  @media (max-width: 630px) {
    padding-top: 50px;
  }
}
.block-footer{
  display: flex;
  justify-content: space-between;
  @media (max-width: 630px) {
    flex-direction: column-reverse;
    text-align: center;
  }
  &-info{
    flex-basis: 32%;
  }
  &-links{
    flex-basis: 23%;
  }
  &__logo{
    background-image: url("../img/logo_footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 137px;
    height: 28px;
    @media (max-width: 630px) {
      margin: 0 auto;
    }
  }
  &__text{
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  &__title{
    margin-top: 5px;
    font-size: 18px;
    color: $accent-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (max-width: 630px) {
      text-align: center;
    }
  }
  &__copyright{
    margin-top: 3px;
  }
  &__list{
    margin-top: 15px;
    list-style-type: none;
    padding-left: 0;
    letter-spacing: 1px;
    @media (max-width: 630px) {
      text-align: center;
      margin-bottom: 50px;
    }

  }
  &__item{
    //margin-bottom: 2px;
    margin: 0;
    line-height: 2;
  }
  &__social{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    @media (max-width: 630px) {
      justify-content: center;
      margin-bottom: 50px;
    }
    &>li{
      margin-right:  13px;
      margin-top: 10px;
      &>a {
        color: $accent-color;
      }
    }
  }
}
.block-slider{
  text-align: center;
  h3{
    margin-top: 25px;
    color: $accent-color;
    font-size: 24px;
    letter-spacing: 0.75px;
  }
  &-ava{
    position: relative;
    height: 152px;
    width: 152px;
    display: block;
    margin: 0 auto;

  }
  &-bq{
    position: absolute;
    display: block;
    background-image: url("../img/bq.png");
    background-repeat: no-repeat;
    width: 48px;
    height: 42px;
    top : -4px;
    right: -15px;
  }
  &__expert{
    color: #9191b5;
    font-family: 'Open Sans', sans-serif;
    max-width: 760px;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 30px;
    letter-spacing: 0.75px;
  }
  &__descr{
    color: #9191b5;
    font-family: 'Open Sans', sans-serif;
    max-width: 760px;
    margin: 0 auto;
    line-height: 2;
  }
  &-thumb{
    display: block;
    margin:  0 auto;
    position: relative;
    overflow: hidden;
    width: 152px;
    height: 152px;
    border-radius: 100%;
    img{
      width: 152px;
      height: 152px;
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}
.slick-list{
  margin-bottom: 35px;
  margin-top: 60px;
}
.slick-dots{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  &>li{
    margin: 0 5px;
    &>button{
      text-indent: -9999px;
      width: 8px;
      height: 8px;
      border: none;
      line-height: 8px;
      font-size: 0;
      background-color: $accent-color;
      border-radius: 100%;
      cursor: pointer;
      padding: 5px;
      &:focus{
        outline: none;
      }
    }
  }
  &>li.slick-active {
    & > button {
      width: 37px;
      border-radius: 10px;
    }
  }
}

.quote-section{
  margin-top: 40px;
}